<!DOCTYPE html>
<html>
  <head>
    <title>Auth System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Auth System</h1>
    <p>Welcome to Auth</p>
  </body>
</html>
